<!DOCTYPE html>
<html>

<head>
    <title>LogVision-关于系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="../static/css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="index.html">实时日志分析与入侵检测系统</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a href="welcome"><i class="glyphicon glyphicon-asterisk"></i> 欢迎</a>
                        </li>

                        <li><a href="analysis"><i class="glyphicon glyphicon-stats"></i> 实时日志分析</a>
                        </li>

                        <li><a href="id"><i class="glyphicon glyphicon-adjust"></i> 实时入侵检测</a>
                        </li>

                        <li class="current"><a href="about"><i class="glyphicon glyphicon-info-sign"></i> 关于系统</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box-header">
                            <div class="panel-title">关于系统</div>
                        </div>
                        <div class="content-box-large box-with-header">
                            <h4>
                                <a href='https://www.github.com/xander-wang/logvision'>请参考GitHub</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <footer>
            <div class="container">

                <div class="copy text-center">
                    实时日志分析与入侵检测系统 仅供个人毕业设计演示用途<br> <a href='https://www.github.com/xander-wang/logvision'>xander-wang/logvision</a>
                </div>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/custom.js"></script>
</body>

</html>